<div class="panel-recepcji">
  <nav class="menu">
    <a 
      routerLink="strona-glowna" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }">
      Strona główna
    </a>

    <a 
      routerLink="wizyty" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }">
      Wizyty
    </a>

    <a 
      routerLink="wizyty-anulowane" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }">
      Wizyty anulowane
    </a>

    <a 
      routerLink="wizyty/dodaj" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }">
      Dodaj wizytę
    </a>

    <div class="recepcja-info">
      <button class="logout-btn" (click)="logout()">Wyloguj</button>
    </div>
  </nav>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
