<div class="panel-lekarza">
  <nav class="menu">
    <a routerLink="strona-glowna" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
    <a routerLink="harmonogram" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Harmonogram</a>
    <a routerLink="wizyty" routerLinkActive="active">Wizyty</a>
     <a routerLink="wizyty-anulowane" routerLinkActive="active">
      Wizyty anulowane
    </a>
    <a routerLink="badania" routerLinkActive="active">Badania</a>
  <a routerLink="historia-badan" routerLinkActive="active">Historia badań</a>
  
  <div class="lekarz-info">
      <button class="logout-btn" (click)="logout()">Wyloguj</button>
  </div>
</nav>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
