<h2>Anulowane wizyty lekarza</h2>
<div *ngIf="error" class="error">{{ error }}</div>
  <table *ngIf="wizytyAnulowane.length > 0">
  <thead>
    <tr>
         <th>Pacjent</th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Badanie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of wizytyAnulowane">
        <td>{{ w.pacjent }}</td>
        <td>{{ w.data | date:'yyyy-MM-dd' }}</td>
        <td>{{ w.godzina }}</td>
        <td>{{ w.badanie || '-' }}</td>
    </tr>
  </tbody>
</table>
